*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, red, gray);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
    justify-content: center;
    align-content: center;
}

.output{
    background-color: rgba(0,0,0,0.75);
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand{
    color:rgba(255,255,255,0.75);
    font-size: 1.5rem;

}

.current-operand{
    color:rgba(255,255,255,0.9);
    font-size: 2.5rem;
}

.span-two{
    grid-column: span 2;
}

.calculator-grid>button{
    font-size: 2rem;
    background-color: rgba(255,255,255,0.75);
    cursor: pointer;
    border: 1px solid #fff;
    outline:none;
}

.calculator-grid>button:focus,
.calculator-grid>button:hover{
    background-color: rgba(255,255,255,0.9);
}